main {
  background-image: url(./assets/images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-brand {
  color: #6070ff;
}

.btnButton {
  color: #7f8cff;
  padding-left: 0;
}

.mx-1 {
  color: #505f79;
}
.bg-info{
  background-color: #6070FF;
}